@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.imgur.com/wJxAGbL.jpg") no-repeat fixed left;
  background-size: cover;
  background-color: black;
}

h1 {
  font-family: "Source Code Pro", monospace;
  font-size: 36px;
  word-wrap: break-word;
  color: aliceblue;
}

h2 {
  font-family: "Source Code Pro", monospace;
  font-size: 24px;
  color: aliceblue;
  margin-top: 5%;
}

.link {
  opacity: 0.7;
  transition: opacity 0.3s ease-out;
}

.link:hover {
  transition: opacity ease-in-out 0.3s;
  opacity: 1;
}

.text_overlay {
  display: none;
  color: aliceblue;
}

.works {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 5%;
}

.work_container {
  max-width: 200px;
  max-height: 200px;
  transition: transform ease-out 0.5s;
}

.work_container:hover {
  transition: transform ease-in 0.5s;
  transform: rotate(360deg);
}

.work_container:active {
  opacity: 0.7;
}

.work_container:hover .text_overlay {
  display: block;
}

.work_img {
  width: 100%;
  height: auto;
}

.social_links > span {
  margin-left: 10px;
}

.social_links {
  margin: auto;
  padding-bottom: 10px;
  position: static;
  left: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#social_icon {
  font-size: 3em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nav {
  display: flex;
  justify-content: end;
}

ul {
  list-style-type: none;
  display: inline-block;
}

ul > a {
  display: inline-block;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .work_container {
    max-width: 175px;
    max-height: 175px;
    margin-top: 25px;
  }

  #social_icon {
    font-size: 2em;
  }
}
