@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");

html {
  height: 100%;
  width: 100%;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img:src/wJxAGbL.jpeg") no-repeat fixed top;
  background-size: cover;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  width: 100vw;
}

section > h1 {
  text-align: center;
  /* font-family: "Source Code Pro", monospace; */
  font-size: 36px;
  word-wrap: break-word;
  color: aliceblue;
}
.text_container {
  width: 135px;
  margin: auto;
  letter-spacing: -0.01em;
}

.greeting {
  font-family: "Source Code Pro", monospace;
  border-right: 0.15em solid aliceblue;
  display: inline-block;
  font-size: 36px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  animation: typing 3s steps(12, end), blinking-cursor 0.7s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking-cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: aliceblue;
  }
}

.about {
  font-family: "Source Code Pro", monospace;
  display: inline;
  /* border-right: 0.15em solid aliceblue;
  animation: typing 3s steps(12, end), blinking-cursor 0.7s step-end infinite; */
}

h2 {
  font-family: "Source Code Pro", monospace;
  font-size: 24px;
  color: aliceblue;
  margin-top: 5%;
  text-align: center;
}

.link {
  opacity: 0.7;
  transition: opacity 0.3s ease-out;
}

.link:hover {
  transition: opacity ease-in-out 0.3s;
  opacity: 1;
}

.text_overlay {
  display: none;
  color: aliceblue;
}

.works {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 5%;
}

.work_container {
  max-width: 200px;
  max-height: 200px;
  transition: transform ease-out 0.5s;
}

.work_container:hover {
  transition: transform ease-in 0.5s;
  transform: rotate(360deg);
}

.work_container:active {
  opacity: 0.7;
}

.work_container:hover .text_overlay {
  display: block;
}

.work_img {
  width: 100%;
  height: auto;
  transition: transform ease-out 0.3s;
}

.work_img:hover {
  transition: transform ease-in 0.3s;
  transform: scale(1.2);
}

.social_links > span {
  margin-left: 10px;
}

.social_links {
  margin: auto;
  padding-bottom: 10px;
  position: static;
  left: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#social_icon {
  font-size: 3em;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nav {
  display: flex;
  justify-content: end;
}

ul {
  list-style-type: none;
  display: inline-block;
}

ul > a {
  display: inline-block;
  color: white;
  text-decoration: none;
}

footer {
  text-align: center;
  color: white;
  font-family: Source Code Pro, monospace;
}

footer > p {
  opacity: 0.7;
}

@media only screen and (max-width: 600px) {
  .work_container {
    max-width: 175px;
    max-height: 175px;
    margin-top: 25px;
  }

  #social_icon {
    font-size: 2em;
  }

  body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://i.imgur.com/wJxAGbL.jpg") no-repeat fixed 50%;
    background-size: cover;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
