@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.imgur.com/wJxAGbL.jpg") no-repeat fixed left;
  background-size: cover;
  background-color: black;
}

h1 {
  font-family: "Source Code Pro", monospace;
  font-size: 36px;
  word-wrap: break-word;
  color: aliceblue;
}

.link {
  opacity: 0.7;
  transition: opacity 0.3s ease-out;
}

.link:hover {
  transition: opacity ease-in-out 0.3s;
  opacity: 1;
}

.social_links > span {
  margin-left: 10px;
}

.social_links {
  margin: auto;
  padding-bottom: 10px;
  position: static;
  left: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nav {
  display: flex;
  justify-content: end;
}

ul {
  list-style-type: none;
  display: inline-block;
}

ul > a {
  display: inline-block;
  color: white;
  text-decoration: none;
}
